[2015-02-27 17:15] moufmouf opened #9 "Windows compatibility?"
Hi guys,

I've been trying to use reactphp/child-process on Windows and I've had hard times having it to work.
I traced the problem back to a bug in PHP:

https://bugs.php.net/bug.php?id=51800

The bug has been solved, at least in recent PHP versions.

To sum it up:

I have an application that uses child-process and that works flawlessly on Linux.
On Windows, reactphp/child-process does not work w

[2015-03-06 00:22] vektah opened #12 "Add support for additional file descriptors"
In writing https://github.com/Vektah/phpunit-parallel I wanted to set up an additional pipe between the parent and child processes, but it seems there is currently no good way to do this.

We could add it to the constructor, but the constructor already has a bunch of arguments:

[code]

It really shouldn't be mutable state though otherwise cleanup could be broken and file descriptors could start l

[2015-04-13 21:24] clue commented on #9
Same here, unfortunately I'm having to give up on this for now..
I've got this to work to *some degree*, however finding some test cases that still fail wasn't too difficult.
(I'll try to file a PR to provide these in the upcoming days)

Current status (afaict):
* PR #13 (originally #10) aims to improve the test suite for Windows
* PR #11 aims to work around Windows' limitations by using file hand

[2015-04-13 21:44] clue commented on #9
Afaict the compatibility issues are cause by two independent issues:

`stream_set_blocking()` does not work with pipes opened with proc_open() (https://bugs.php.net/bug.php?id=47918). This appears to be because Windows process pipes do not support async operation, so this is unlikely to caused (or ever fixed) by PHP.

`stream_select()` (and family) *always* reports the pipes as readable even when

[2015-04-21 21:24] clue commented on #9
This is a *significant improvement*, however, this also introduces several other issues (writing to disk, different buffering behavior, possible privacy leak, degraded performance, stale files etc.)

Potentially, connected sockets could work around these limitations. Has anybody else tried using connected sockets instead of file descriptors?

Here's my *attempt* (which *does not* work on Windows,

[2015-06-06 17:40] clue opened #17 "Emit end/close event once streams end"
The `stdout` and `stderr` stream pipes should emit an `end`/`close` event once their underlying stream ends. In particular, they _should not_ emit a `data` event with an empty string.

[2015-06-08 19:24] joshdifabio commented on #9
How far did you get with that? Did you find a way to create a named pipe on Windows?

[2015-06-12 12:06] clue commented on #9
Unfortunately not very far at all, I've toyed around with this idea to no avail.

[2015-10-16 10:16] igorwwwwwwwwwwwwwwwwwwww opened #18 "Process close does not wait for stdout/stderr to drain"
I ran into an edge case with child-process that I suspect may also affect stream. First of all, here is a reproduce case:

[code]

The bad value returned here is an empty string.

I have been able to reproduce the problem in some cases without the timer and without the ssh command. But this is the most reliable reproduce case I have been able to come up with. On my local machine (running OSX) the

[2015-10-21 21:59] folkhack commented on #18
Chiming in to say that I've verified this issue (by sinking a metric-boatload of time into it) and upon digging into the internals was very overwhelmed by presenting a potential fix... don't see a really clear path to a bugfix on this one =(

Currently I am using this temporary hack within Process/Stream:

[code]

This is totally not ideal but seems to be working in the short-term by firing a last

[2015-11-04 14:15] mbonneau commented on #18
This reproducers what I believe is the same issue:

[code]
As @igorwwwwwwwwwwwwwwwwwwww pointed out, this is probably an issue with buffered reads.

The process exits (and the library closes all the streams) prior to any data being read. removing the sleep allows all the "stuff" to happen in that default 0.1 default second interval.

[2015-11-11 20:53] thebestclass opened #20 "How use callbacks and pass arguments to the child process"
I need to run a callback once the child process to stop to perform certain actions.

Also I need to pass arguments to the child process so that everything is run, I tried to pass the $conn object variable but it seems he does not accept it. How to resolve this?

What I have tried:

[code]

He gave to understand what I'm trying to do? After passing the argument to the child process I want that call

[2015-11-11 21:24] WyriHaximus commented on #20
Take a look at https://github.com/jeremeamia/super_closure, you can serialize closures with it

[2015-11-11 21:29] thebestclass commented on #20
But how? Did not quite understand.

There is to be straight in the `stdin->write()`?  @WyriHaximus

[2015-11-12 21:22] WyriHaximus commented on #20
Yes you serialize it with the super closure serializer, write it into stdin on the parent process and read from stdin on the child process. (Make sure you can distinguish different messages coming in over stdin and out over stdout.)

[2015-11-13 02:06] thebestclass commented on #20
@WyriHaximus Congratulations and thank you, you helped me, but I created a new question .. I updated the topic to match the current reality, you should probably have a solution, right?

[2015-11-13 21:21] thebestclass commented on #20
@WyriHaximus  @cboden  Congratulations and thank you, you helped me, but I created a new question .. I updated the topic to match the current reality, you should probably have a solution, right?

[2015-11-13 22:38] WyriHaximus commented on #20
Same as the serialized, send a message over stdin to the child and the response back over stdout. You're going to have to write something so they can communicate these messages properly. Wrote a package for that that might be interesting for you: https://github.com/WyriHaximus/reactphp-child-process-messenger

[2015-11-14 01:21] thebestclass commented on #20
@WyriHaximus  Much more than interesting, amazing, just read the code.

Work with the resource type variables ($ conn)?

I tried to run the script but it seems that it did not work, I used the example folder, tried all the scripts it ...

[2015-11-14 13:42] thebestclass commented on #20
@WyriHaximus  Much more than interesting, amazing,i just reading the code.

Work with the resource type variables ($conn)?

I tried to run the script but it seems that it did not work, I used the example folder, tried all the scripts it ... But the `echo's` of scripts didnt work, example:

    $messenger->rpc(MessageFactory::rpc('format', [
            'unixTime' => time(),
        ]))->then(funct

[2015-11-16 17:52] thebestclass commented on #20
@WyriHaximus pleasee help me, i depend on it for all my project

[2015-11-16 21:12] WyriHaximus commented on #20
@thebestclass I will help you, it's just that attending conferences is exhausting

[2016-03-15 09:06] uniquoooo opened #23 "proc_close can make PHP hang"
I was testing some stuff out with my library that i'm working on and found that sometimes if you run `proc_close` before `proc_terminate` PHP hangs. Did a quick google search and came across this: https://bugs.php.net/bug.php?id=34794

When `close()` is run possibly terminate?

[2016-03-15 13:35] clue commented on #23
Thanks for reporting @uniquoooo, can you give some steps to reproduce this? :+1:

According to the bug report this should only trigger if you explicitly call `proc_close()` on the handle, which we provide no other access to than the `Process:close()` method. However, the documentation currently [advises against calling `Process:close()`](https://github.com/reactphp/child-process/blob/92b29374188e7

[2016-03-15 18:56] uniquoooo commented on #23
Yeah sorry, wasn't reading that `Process::close()` wasn't supposed to be called. If you want I can still post some testing code otherwise feel free to close the issue.

[2016-07-07 10:50] clue commented on #9
See also my suggested PR https://github.com/reactphp/stream/issues/46

With this change applied, the `Process` class would throw a `RuntimeException` on Windows, because it can not set the streams to be non-blocking.

IMO this does make sense, because we can't guarantee proper execution otherwise anyway.

Once this change is in, we should look into adding an option to start child processes *withou

[2016-08-01 18:09] #18 closed

[2016-08-01 18:12] clue commented on #17
See also https://github.com/reactphp/stream/pull/39

[2017-02-09 18:42] kelunik commented on #9
The hardest thing is probably getting the correct exit code on Windows. It just doesn't seem to work.

[2017-03-08 14:30] clue commented on #9
@kelunik What issue are you running in to, can you provide a gist to reproduce this?

[2017-03-08 14:30] clue commented on #9
Let's recap what works and what doesn't:

* Executing child processes :heavy_check_mark:
* Writing to STDIN and reading from STDOUT: might block :x:
* Returning exit-code: unknown :question:

[2017-03-08 14:32] kelunik commented on #9
@clue We solved the exit code issue now, but it's not in `master` yet, using `proc_get_status` and a third pipe.

[2017-03-08 14:33] clue commented on #9
See also my suggested PR reactphp/stream#46

With this change applied, the Process class would throw a RuntimeException on Windows, because it can not set the streams to be non-blocking.

We MAY want to provide some means to start child processes without accessing its STDIO, in which case everything should work just fine (this can be useful for all systems).

We MAY then want to look into incorpor

[2017-03-10 11:29] clue commented on #23
I believe this has been resolved, so I'll close this for now. If you feel this problem persists, please report back and we can reopen this :+1:

[2017-03-10 11:29] #23 closed

[2017-03-10 11:31] clue commented on #20
Unfortunately this isn't really actionable currently, as it lacks details what particular feature is missing here.

The process exposes its STDIN and STDOUT streams which can be used to exchange arbitrary data.
If you're new to this concept, you may want to check out the react/stream component first.
The README now contains some hints for this, see also #26.

I hope this helps :+1:

[2017-03-10 11:31] #20 closed

[2017-03-10 11:32] clue commented on #17
See #26.

[2017-03-10 11:32] #17 closed

[2017-03-10 11:34] clue opened #30 "STDIO streams should be readable or writable, but not duplex"
Currently, all STDIO streams are exposed as duplex streams, which means that e.g. the `$process->stdout->isWritable()` returns `true`, which doesn't make much sense obviously.

[2017-03-10 15:19] clue opened #31 "Roadmap to v1.0.0"
Let's face it, this project is currently *beta*, but has been used in production for years :shipit:

We're currently following a v0.X.Y release scheme (http://sentimentalversioning.org/).

We should finally make this *stable* and fully adhere to SemVer and release a stable v1.0.0.

To a large extend, a stable v1.0.0 helps making BC breaks more explicit and thus the whole project more reliable from

[2017-03-10 15:39] cubiclesoft commented on #9
I just happened to notice two stars appear on the 'createprocess-windows' project and that a lead dev for reactphp had starred it.  Nice.  At any rate, a PECL extension that specifically integrates the logic from the createprocess-windows project would be less heavy-handed.  Starting a process is a particularly expensive system call on Windows, which makes starting two processes to start one proce

[2017-03-10 16:31] clue commented on #9
@cubiclesoft Thanks for the useful background information!

This library is essentially a low-level building block for many higher-level applications and Windows isn't exactly the main target platform for most consumers here.

Hence my suggestion that we should progress with https://github.com/reactphp/stream/pull/46 first, which means that the current default logic now throws an Exception on Wind

[2017-03-17 17:35] clue commented on #31
Updated now that the v0.4.3 release is out (a few days ago already) :shipit:

[2017-06-01 11:58] nick4fake opened #37 "Update stream dependency to 0.7"
Do we need to set upper bound of react/stream to 0.5?

[2017-06-05 20:36] WyriHaximus commented on #30
Currently working on this

[2017-06-05 20:37] WyriHaximus commented on #37
Currently working on updating streams usage and #30 which also bumps the stream package

[2017-06-18 12:55] #30 closed

[2017-06-18 12:55] #37 closed

[2017-06-28 20:06] istvanskeri opened #40 "Segmentation Fault (core dumped)"
I'm getting a segmentation fault error from my ratchet server while attempting to do

$process->stdin->write($json);

server is:

Ubuntu 14.4
PHP memory_limit = 128M
PHP 5.5.9

I'm using the following versions of ratchet and react child process

"cboden/ratchet": "^0.3.6",
"react/child-process": "^0.4.3"

code is working locally on os x and php 5.5.38

[2017-06-28 20:37] WyriHaximus commented on #40
Do I assume correctly that `$json` is or should be a string?

[2017-06-28 20:49] istvanskeri commented on #40
correct. its a string and it is working for me locally

[2017-06-28 21:19] istvanskeri commented on #40
$json var_dump is

string(67) "{"command":"subscribe","comp_id":8481,"org_id":575,"user_id":64758}"

[2017-06-29 07:44] clue commented on #40
Hi @istvanskeri, thanks for reporting! I'm not sure I follow what you're trying to do and what your issue is, as it's a bit unclear what you're trying to achieve from the description you've posted.

Where does the "Segmentation Fault (core dumped)" come from? Which process are you executing? When does this happen? Is this reproducible / does it happen all the time?

May I ask you provide a simple

[2017-06-29 10:10] istvanskeri commented on #40
I have a ratchet server that waits for a socket message. When a message is received, a child process is created. The child process is a long running php script that sends back percentage completed back to the ratchet server that sends the percentage completed via socket back to the user. The ratchet server crashes with a Segmentation Fault (core dumped) message as soon as i try to do an stdin to t

[2017-07-07 07:40] istvanskeri commented on #40
We're thinking about upgrading our production server to php 7. Im hoping that will fix the seg fault issue. Will this library, and also ratchet work on php 7?

[2017-07-07 07:52] WyriHaximus commented on #40
@istvanskeri To put it really simple: Yes it runs on PHP 7, been running it in production on 7 for more then a year now maybe two. You also get a `free` performance gain when upgrading to 7.

[2017-07-17 15:35] nick4fake commented on #40
Hey, we have the same problem on PHP 5.5.10. Simply sending data to input of a process produces segfault.

[2017-07-17 15:36] nick4fake commented on #40
@istvanskeri For us PHP7 is working correctly, but we can not update php ATM

[2017-07-17 15:40] nick4fake commented on #40
Well, fix was trivial. Actually, it was even in the codebase:
[code]

[2017-07-17 16:15] clue commented on #40
Thanks for reporting back on this!

Can we pin point this to a certain program and/or PHP versions? What process are you executing and can this be reproduced easily? Ideally, a gist could help to diagnose this further :+1:

[2017-07-17 20:36] nick4fake commented on #40
@clue well, it looks like you have already fixed this problem previously, but limited fix version to PHP 5.3. I can try to create a test gist if you want, but we can rather simply apply this patch, as the only possible downside is IO performance when sending/fetching data while talking with cli script

[2017-07-17 20:39] clue commented on #40
This check is currently in place because the test suite would otherwise SEGFAULT, see https://github.com/reactphp/child-process/pull/29/commits/29aab03f8c02e5c5d6c41399748fbac93c7e0e4e for more details. If we can come up with a similar test case (or a gist which helps us create this test case), we may update the affected versions :+1:

[2017-07-20 14:25] istvanskeri commented on #40
What steps can I take to get this working with PHP 5.5.9?

[2017-07-25 11:45] clue commented on #40
What steps can we take to reproduce a SEGFAULT on PHP 5.5.9 (or any other version for that matter)?

I'd like to check whether there's an issue here and if/how this can be fixed, but so far we've not been able to reproduce this.

[2017-07-29 18:42] demil opened #43 "Spawn child process and creatie server in it"
Is it possible something similar to node cluster module

    `cluster = require('cluster');
    if (cluster.isMaster) {
    cluster.fork();
    cluster.on('fork', function(worker) {
    newPID = worker.process.pid;
    console.log(worker.process.pid);
    });
    cluster.on('exit', function(worker, code, signal) {
    cluster.fork();
    });
    }
    if (cluster.isWorker) {
    //create server he

[2017-07-30 11:09] clue commented on #43
Absolutely! :-) What you're asking for is way beyond the scope of this low level child-process component, but I don't see why it wouldn't be possible to build something like this on top of this component :+1:

I'm not currently aware of any package that provides this out of the box, but if you happen to find or build one, make sure to let us know.

I hope this helps :+1:

[2017-07-30 11:09] #43 closed

[2017-08-08 09:16] clue commented on #40
Closing this due to a lack of feedback, as we can not reproduce this. Please come back with more details if this problem persists and we can reopen this :+1:

[2017-08-11 19:51] Mrmrprofessional opened #48 "Persistent SSH Child Process"
Is it possible to create a persistent connection to an IP over ssh and then be able to execute commands at will without having to ssh again?

[2017-08-11 19:58] WyriHaximus commented on #48
You can call `ssh` but it won't be persistent out of the box. If the connection fails `ssh` will exit with an error. Have you looked at `mush`?

[2017-08-11 20:06] Mrmrprofessional commented on #48
Is this what you mentioned: https://mosh.org?
All I really want to do is open several ssh connections (between raspberry pis) to be able to send commands at will without having to ssh every time. All the pis are on the same local network.

[2017-08-11 20:08] WyriHaximus commented on #48
Yes I ment `mosh` sorry.

If you want to send messages between them why not use RabbitMQ with https://github.com/jakubkulhan/bunny ?

[2017-08-12 11:09] clue commented on #48
It sounds like you may want to run multiple commands in a single shell session? In this case, perhaps this may help you: https://github.com/clue/php-shell-react/blob/master/examples/bash.php

[code]

I hope this helps :+1:

[2017-08-12 11:09] #48 closed

[2017-08-14 22:55] Mrmrprofessional commented on #48
What is the difference between the two? They seem to do relatively the same thing if I’m not mistaken. If I used the Child Process to establish a SSH connection, would it not persist until the connection is manually closed/on error? And then wouldn’t I be able to send commands through the connection? Or am I wrong? I didn’t see an example on the GitHub page that uses SSH. And if I used the PHP She

[2017-08-15 06:46] clue commented on #48
You can of course also use `new Process('ssh example.com');` and send commands via STDIN and receive the command output via STDOUT. This is exactly what the above project does under the hood, plus it takes care of providing a sane interface to detect where the output of the first command ends and the output of the next command begins.

[2017-08-15 19:17] WyriHaximus commented on #31
Updated now that the v0.5.0 release is out :shipit:

[2017-09-14 18:34] inoas commented on #31
My 2 cents are:
- If your intention is to still support PHP 5.x make 1.0.0 support ^PHP 5.6.0. Do not change any code aside some composer requirements. Just set PHP 5.6 as a requirement. This should happen right now.

- Then 2.0 can target PHP 7.0 once that's beneficial and 1.0 can take backports

[2017-09-14 18:35] inoas commented on #31
The features for 0.6/0.7 could go into 2.0 as well and that could stay PHP 5.6 compatible and only 3.0 would go for PHP 7

[2017-10-09 14:52] clue opened #51 "[FYI] Child processes inherit open file handles from parent"
Opening this as a FYI only, note that child processes inherit open file handles from the parent process.

https://bugs.php.net/bug.php?id=70932

Depending on how child processes are used this may or may not cause issues. I'm currently not aware of any issues in the ReactPHP ecosystem, so I'm merely opening this as a reminder and to gather some input on this.

One option would be adding a heads up

[2017-10-11 08:30] DaveRandom commented on #51
This can be avoided at the C level using the `FD_CLOEXEC` flag (this came up at phpnw in relation to an old xdebug bug report).

With file handles there's no way to set this from userland that I'm aware of, but with sockets it can done with `socket_import_stream()`/`socket_set_option()`.

I could look at exposing this via a stream context parameter if there's any interest in it? Likely would not b

[2017-10-11 08:37] kelunik commented on #51
@DaveRandom For PHP that's probably good enough, because it's single threaded, but it requires the `socket` extension then. For files there's the `'e'` flag, but probably nobody uses that.

[2017-10-11 08:44] kelunik commented on #51
Sounds good to me. Maybe we can even backport that to 7.1 / 7.0. Honestly, I don't see many reasons why it shouldn't be the default, because PHP doesn't expose the raw FDs anywhere to let a child use them.

[2017-10-11 10:17] DaveRandom commented on #51
@kelunik I would also be OK with that but it would probably need to be done in 8 because semver. For the time being it can default to current (arguably but not necessarily broken) behaviour.

The nice thing about context options is that setting non-existent ones doesn't break anything, so at least existing code can be modified to set it without worrying about whether it will actually have any effe

[2017-10-11 10:32] kelunik commented on #51
Yes, it's possible to access the FD, I know, but if you open a stream, you can't get the FD number to let the child process use that (inherited) FD.

[2017-10-11 12:13] DaveRandom commented on #51
@kelunik I will look at exposing that via `stream_get_meta_data()` while I'm at it. May as well make this into a potentially useful (albeit niche) feature.

[2017-10-12 12:09] clue commented on #51
@DaveRandom Thanks for chiming in, I agree that adding a context option to set this mode on creation is the way forward here :+1:

Whether this should be the future default is debatable (I agree), taking a look at how others handle this (such as https://www.python.org/dev/peps/pep-0446/ and https://bugs.ruby-lang.org/issues/5041) suggests that they figured it's worth introducing this as a fix even

[2017-12-20 14:56] bryanburgers commented on #40
I had this same issue on an old version of PHP.

[code]

I could not reproduce the issue on php 5.4.45 (which is the PHP that comes when doing a `docker pull php:5.4`).

In order to work around the issue, I also needed to do the `stream_set_read_buffer` fix.

Since it seems unreasonable to determine which versions of PHP 5.4 this does and doesn't work for, and upstream a fix, all for a really old

[2017-12-20 16:24] clue commented on #40
@bryanburgers Thank you for reporting back with another affected version! So far, we've been unable to reliable reproduce this issue and/or link this to a specific PHP version.

I've just dug up an old PHP bug report that may be related here: https://bugs.php.net/bug.php?id=61019 (https://github.com/php/php-src/commit/1ec83d44a1601c3560f430e08af9698bf8fb075c). This indicates this was fixed in 5.4.

[2017-12-20 16:28] clue commented on #40
Finally managed to reproduce this! :tada:

[code]

https://3v4l.org/g0A6U

This confirms that this affects the above version range. I will look into filing a PR for our stream component to work around this issue :shipit:

[2017-12-21 14:35] #40 closed

[2018-01-05 05:39] Juanperezc opened #57 "What is the correct way to obtain data from a subprocess"
I'm trying to get in the event on data to verify if a thread has a specific string but it happens that when there are many strings printing with echo in the console or after printing the first string does not check me well.

I do not know if it is the correct way to obtain data from a childprocess but this is the method understood in the examples

`  $this->childprocess->stdout->on('data', functio

[2018-01-07 13:30] clue commented on #57
This is a very good (and common) question! It looks like you want to consume the output of said program in a line-based fashion. The STDOUT stream does not care about the concept of "lines", it merely reports all the data it sees.

This means that you will have to implement some simple buffering and extract on line breaks like this (untested pseudo code, but I hope you get the idea):

[code]

I ho

[2018-01-07 13:30] #57 closed

[2018-01-13 14:09] clue commented on #9
Small progress update: We've introduced the above patch with #38 and accordingly have had to remove Windows support with #41/#47 in the v0.5.0 release. As an alternative, we currently recommend using Windows subsystem for Linux (WSL) instead.

We are still looking into providing compatibility with Windows in the upcoming versions as discussed in this ticket.

With the upcoming v0.6.0 release, we w

[2018-01-13 14:38] kelunik commented on #9
I think STDIO redirection should be part of this package then and not be left to the user. Unlike unix sockets and pipes, network sockets do not have any means of built-in authentication or access protection.

https://github.com/amphp/windows-process-wrapper provides a wrapper with that in mind. It exchanges security tokens on the sockets to ensure there's no unauthorized information leakage by an

[2018-01-20 05:04] cubiclesoft commented on #9
I've implemented a couple of options.  I did realize at the time that the feature introduced a vulnerability but I figured that if this is an issue, then the system in question probably has far bigger problems that should be addressed first.  The server portion is generally started attached to a localhost-only environment and the process runs in the same environment.  Also, timing is a significant

[2018-10-26 18:50] JoelFeiner opened #60 "Improper detection of sigchld compile flag"
On several distributions now `phpinfo()` no longer returns flag information. There needs to be a better way to detect whether `--enable-sigchld` was compiled in. Or, alternatively, it should be possible to tell the Process object constructor that it should be treated as enabled (so that the pipe trick can be used).

I'm using PHP from the IUS packages on CentOS 7. But I have read this is also a pr

[2018-10-27 14:37] clue commented on #60
@JoelFeiner Thanks for reporting, that's an interesting one!

I'd like to get a better understanding of this before we can reasonably commit to a possible alternative implementation. It sounds like you've stumbled over some information about which distribution / version may be affected and perhaps a rationale for this change. Can you share some links?

[2018-10-27 18:29] clue commented on #60
Thanks for the link! It's also my understanding that this means that this project will assume sigchild compatibility is disabled for affected distributions (which happens to be the correct path).

Is anybody aware of any other way to automatically detect this? Otherwise I agree that we should probably provide a way to manually override these defaults. 👍

[2018-10-29 21:50] JoelFeiner commented on #60
As best I can tell from looking at the PHP source code, there's nothing else that's set that would indicate that PHP has its own custom signal handler. Using `pcntl_signal_get_handler()` doesn't show any special behavior either (returns 0 no matter what). As such, I would think the best course of action is to allow it to be configured and make sure that is documented. An alternative would have the

[2018-11-15 06:47] Kolesar opened #61 "PHPUnit Code Coverage for runned process"
Is it possible somehow to run PHPUnit Code Coverage on the process which is run with `Process`? In my application, I run a couple of PHP sub-processes of my code, but I want to check Code Coverage on that.

[2018-11-15 15:43] clue commented on #61
@Kolesar Welcome to ReactPHP and thanks for you excellent question! Unfortunately this is somewhat out of scope of this project, so I'm not sure this is the right place for this question.

The same question applies to running any external process with PHP, be it a `exec()` call or accessing things via HTTP etc., so perhaps StackOverflow etc. could help here? :+1: If anybody has an answer for this,

[2018-11-15 15:43] #61 closed

[2018-11-30 06:56] #60 closed

[2018-12-03 09:45] #12 closed

[2018-12-03 17:56] WyriHaximus commented on #51
Just confirmed this has been solved with #65 by handling it the following way: https://github.com/WyriHaximus/reactphp-child-process-messenger/commit/9995a03193064f274e3c6b714ae1857a82c5d72c#diff-8157a0d28a58887c0293ce14b4b0281fR68

Closing this issue as I believe this has been solved and will be released soon™.

[2018-12-03 17:56] #51 closed

[2019-01-11 17:59] #9 closed

[2019-01-14 17:25] clue commented on #31
Updated now that the v0.6.0 release is out :shipit:

[2019-01-14 19:22] WyriHaximus commented on #31
@clue is 0.7 still going to be a thing?

[2019-01-15 09:33] clue opened #72 "Clean up API"
The roadmap (#31) currently mentions "clean up API" for the v0.7.0 release, so I'm filing this ticket to discuss possible things that could be cleaned up.

Here's some of the things that I would like to address:

1.) The `Process` constructor and the `start()` method form a temporal dependence (you have to call `start()` exactly once after constructing). Additionally, because creating a process re

[2019-01-15 09:34] clue commented on #31
Good point, but yes, that's still my understanding. I've just filed #72 to discuss this further :+1:

[2019-01-16 21:17] Loilo commented on #72
Having a Promise-based helper as in (4) would be really useful.

A thing that should be baked in: Such an interface would offer the great opportunity of combining `$promise->cancel()` with `$process->terminate()` for really easy premature elimination of long-running processes.

[2019-04-22 11:16] clue opened #74 "Consider adding specific libuv adapter"
We may want to add a specific adapter taking advantage of libuv's process handling logic:
* http://docs.libuv.org/en/v1.x/process.html
* https://github.com/bwoebi/php-uv#resource-uv_spawnresource-loop-string-command-array-args-array-stdio-string-cwd-array-env--array-callable-callback-long-flags--array-options

To be clear, this project works just fine with all [loop implementations](https://github

[2019-04-28 16:10] bwoebi commented on #74
Note that I've fixed the building on windows for php-uv.

[2019-04-28 17:26] CharlotteDunois commented on #72
The only issue with `1)` would be that there is no interface to type declare against. With #74 in mind an interface would possibly be required anyway, so the problem of mocking would be solved. To be clear, the "low level" API of directly using a `Process` should still exist, even when a launcher should be added.

However interfaces should exist so that the implementation can be arbitrarily replac

[2019-12-26 20:11] levzenin commented on #9
@clue
But... You can use a most common way to solve the problem - workaround. so, what can we do?
1) We can use Windows API (unrecommended, because it's requires unsafe php settings, or extensions)
2) We can use temporary or virtual files to write and read from them. but...
In php is not possible to open the same file/use same file asynchronous, so, instead of opening file two times i've used othe

[2019-12-27 08:17] clue commented on #9
@levzenin Windows is supported, but the support is limited. We've included details in the documentation, including known work-arounds, such as using file handles to access the process output: https://github.com/reactphp/child-process#windows-compatibility

If you feel anything is unclear or missing, please file a new ticket and I'm happy to take a look at this again :+1:

[2020-04-26 19:53] clue commented on #74
See also @CharlotteDunois's excellent version here: https://github.com/AndromedaGalaxy/reactphp-libuv-process

[2020-04-27 17:51] CharlotteDunois commented on #72
I'd like to pick up 1) + 4) (Launcher concept), are there any specific helper methods that need to exist?

On my list currently:
* `launch` ("builds" and starts the process)
* `buffer` (`launch` + buffer stdout stream)
* `stream` (should it only capture stdout?)

[2020-09-04 11:49] corosion opened #79 "process terminate not working as expected"
When I try to terminate the parent process with SIGINT (kill -2 parentPId), child processes are still running. I'm using signal handler for SIGINT in the parent class and there I call ```Process::terminate($singal)```. Child proccess ends only if I output something, for example if I uncomment ```echo PHP_EOL;``` in ```child.php```

**Code sample:**

**parent.php**
[code]

**child.php**
[code]

[2020-09-04 13:06] clue commented on #79
@corosion Thanks for posting this excellent question!

I can indeed reproduce the problem you're seeing with the above example code.

If you look at the process tree, you will find that every child process is always wrapped by an additional shell process:

[code]

This is covered in the documentation as per https://github.com/reactphp/child-process#command.

This means that when you send a signal

[2020-09-04 13:06] #79 closed

[2021-01-26 12:07] valzargaming opened #83 "Trying to access array offset on value of type null"
https://github.com/reactphp/child-process/blob/1110f31f2638044eeca939ca578d2ae2ebb44115/src/Process.php#L194
This line will cause a fatal error in PHP 8 because of changes in how accessing arrays is handled. `if ( isset(...) )` or comparative should be done first before attempting to check attribute/property/class/value/etc.

[2021-01-26 18:02] clue commented on #83
@valzargaming Thanks for reporting, I've indeed working on this this weekend and will file my PR as soon as possible :+1:

This only affects the new PHP-8 only `socket` type in fdspec, so I consider this to be a new feature request rather than a bug. Expect a PR in the next couple of days now that #82 has been merged earlier today :shipit:

[2021-01-31 13:58] clue commented on #83
@valzargaming It seems like I might have misunderstood the problem you're seeing. I've just filed PHP 8 support with #85 and can not see the problem you're seeing. Can you provide a short gist to reproduce this?

[2021-01-31 16:25] valzargaming commented on #83
@clue It seems that whatever was causing the issue was resolved at one point as this error no longer occurs during testing. I tried a basic test by attempting to use the React/Filesystem to load a file and return it as a stream, but it still returns a 500 internal server error. Right now I am not sure if this is dependency-related.
![image](https://user-images.githubusercontent.com/7202504/1063904

[2021-01-31 17:03] clue commented on #83
@valzargaming It doesn't looks like this would be related to this project, so I'm closing this for now. Please file an issue in reactphp/http or reactphp/filesystem if the problem persists and I'm happy to take a look at this :+1:

[2021-01-31 17:03] #83 closed

[2021-02-14 19:15] nivpenso opened #86 "is it possible to debug a child process?"

[2021-02-14 19:17] clue commented on #86
Yes.

---

Welcome to @ReactPHP! :wave: If you can give us a more precise question, we may be able to give a more helpful answer :+1: What are you trying to achieve exactly?

[2021-02-14 19:17] #86 closed

[2021-02-14 19:25] nivpenso commented on #86
Hi @clue apologies for posting the issue with no description that was a mistake, can you please re-open it again unless the answer is the same. If so, I would kindly request to get more assistance to achieve that :)

Thanks

[2021-10-04 07:13] maxmilash opened #88 "Fatal error when phpinfo is disabled"
If you put the phpinfo function in disabled_functions and try to use class Process with php8.0, it will throw the next error

`PHP Fatal error: Uncaught Error: Call to undefined function phpinfo() in .../vendor/react/child-process/src/Process.php:373`

There is the next code where it throw error attempting to call phpinfo function https://github.com/reactphp/child-process/blob/master/src/Process.p

[2021-10-11 21:36] #88 closed

[2021-10-12 10:53] clue commented on #88
Just tagged and released [v0.6.4](https://github.com/reactphp/child-process/releases/tag/v0.6.4) :shipit:

[2022-08-03 18:37] ClosetGeek-Git opened #97 "Callback as child processes"
Swoole's process abstraction uses a callback rather than calling exec, and then provides an exec method that can be used within the callback for executing commands if that's desired within the child process. See https://openswoole.com/docs/modules/swoole-process-construct . This gives the option of executing PHP code within the child process.

Every time a child process is created within PHP you f

[2022-08-03 18:56] ClosetGeek-Git commented on #97
This would be greatly beneficial. ReactPHP's event loop can then be used as a core reactor much like how Swoole functions, but in PHP userspace (see here https://github.com/swoole/swoole-src/tree/master/src/reactor)

[2022-08-03 19:01] ClosetGeek-Git commented on #97
Their process object (https://github.com/swoole/swoole-src/blob/master/src/server/process.cc) is passed "server", which is really just needed for integrating access to the eventloop within the parent.

[2022-08-03 19:08] ClosetGeek-Git commented on #97
If you see here (https://github.com/ClosetMonkey/ReactPHPZMQ/blob/main/parallel_ratchet.php) I've done similar for creating a php parallel based thread pool for handling Ratchet websocket messages, but this is not ideal given the experimental nature of the parallel extension. This can be done fairly easily using child processes though to create stable solutions.

[2022-08-04 13:42] SimonFrings commented on #97
Hey @ClosetMonkey, thanks for bringing this up :+1:

Sounds like your suggesting that we implement some kind of fork support. This sounds like a good idea and we're always happy about suggestions or PRs! This will also mean that we'd have to add extensions to this package to make this work. In ReactPHP we try to avoid dependencies if possible. This is why our current implementation works as is. Fo

[2022-08-05 10:06] ClosetGeek-Git commented on #97
Thank you for your reply @SimonFrings . My input can be scattered at times. I didn't look deep enough to see that child_process doesn't fork. I've been away from userspace PHP for a while to be honest.

Are you familiar with PHP's start up process and lifecycle? Here's a [quick read](https://www.phpinternalsbook.com/php7/extensions_design/php_lifecycle.html#learning-the-php-lifecycle) if not.

PHP

[2022-08-05 10:32] ClosetGeek-Git commented on #97
One that I'm looking at is opis/closure. If both the calling instance and php-cgi (or php-cli) have the same includes, and if the parent is knows the state of the child (fork, cli instance, etc), it's conceivable to be able to pass callable's into the child.

[2022-08-07 00:07] ClosetGeek-Git commented on #97
The -T argument was added to php-cgi in PHP-5.3 in 2007 and doesn't seem to be going anywhere https://github.com/php/php-src/commit/6f7b738b712f234ec34a1e905572530bc277c8ca

The --repeat argument for php-cli was added in php-8.1.0RC1 for testing JIT and noted in the source that it might be changed https://github.com/php/php-src/commit/1b3b430f478c785c88655533518a66b88ece060a

I wrote up a quick PH

[2022-08-08 10:56] SimonFrings commented on #97
Nice read, I can tell you put quite some time into this topic :+1:

I meant that we only want to include extensions if they're really necessary, thus avoiding to overload the whole project (not the only reason tho).